body {
    font-family: Arial;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.chat-container {
    width: 420px;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

#chat-box {
    height: 330px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
    background: #fafafa;
}

input {
    width: 70%;
    padding: 10px;
}

button {
    padding: 10px 14px;
}
